@import '../../../sass/';

.Container {
	margin-bottom: 10px;
	transition: 0.2s;
	position: relative;

	.BlockHeader {
		@include flex-center;
		z-index: 900;
		position: inherit;

		justify-content: space-between;
		margin-bottom: 5px;
		color: $primary-black;

		.HeaderLeft {
			@include flex-center;
			position: relative;

			h2 {
				margin: 0;
				font-size: 18px;
			}

			.EditIcon {
				margin-left: 7px;

				&:hover {
					cursor: pointer;
				}
			}

			.EditWrapper {
				@include flex-center-center;
				width: 30px;
				height: 30px;
				opacity: 0;
				transition: 0.13s;

				svg {
					font-size: 13px;
				}
			}

			&:hover {
				cursor: pointer;

				.EditWrapper {
					opacity: 1;
				}
			}

			.CheckCircle {
				@include flex-center-center;

				width: 30px;
				height: 30px;
				margin-right: 5px;
				transition: 0.15;
				svg {
					font-size: 28px;
					padding-right: 1px;
				}

				&:hover {
					cursor: pointer;
					transform: scale(1.04);
				}
			}
		}

		.HeaderRight {
			@include flex-center;

			p {
				margin: 0;
				margin-right: 20px;
			}

			.Archived {
				@include flex-center;
				p {
					margin: 0;
					margin-right: 10px;
				}
				margin-right: 20px;
			}

			.GlobalHiddenBadge {
				@include flex-center;

				svg {
					margin-right: 10px;
					color: red;
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&[data-show-list='0'] {
		margin-bottom: 0;
	}

	&[data-complete='1'] {
		opacity: 0.55;

		h2 {
			text-decoration: line-through;
		}

		.CheckCircle {
			svg {
				color: $confirmation-green;
			}
		}
	}

	@keyframes show-input {
		0% {
			display: none;
			opacity: 0;
		}
		10% {
			display: block;
		}
		100% {
			opacity: 1;
		}
	}

	.Bottom {
		&:hover {
			cursor: pointer;

			.PlusIcon {
				.Plus {
					opacity: 1;
				}
			}
		}

		.InputWrapper {
			@include flex-center-center;
			$height: 45px;
			margin: 8px 0 15px 0px;
			position: relative;

			height: 0;
			overflow: hidden;
			flex-direction: column;
			transition: 0.18s;
			z-index: 899;

			.FormWrapper {
				width: 100%;
			}

			&[data-is-adding-status='1'] {
				opacity: 1;
				height: $height;
			}
		}

		.PlusIcon {
			@include flex-center-center;
			margin: 4px auto;
			font-size: 24px;
			position: absolute;
			bottom: -0px;
			width: 100%;

			.Plus {
				position: absolute;
				opacity: 0;
				transition: 0.2s;
			}

			&[data-is-adding-status='1'] {
				.Plus {
					opacity: 0 !important;
				}
			}
		}
	}
}
