@import '../../../sass/';

.Container {
	position: relative;
	overflow: hidden;

	-moz-border-radius: $large-radius;
	-webkit-border-radius: $large-radius;
	border-radius: $large-radius;

	margin: 10px 0 15px 0;

	.ListWrapper {
		max-height: calc(#{$status-li-height} * 4);
		overflow-y: scroll;
	}

	&[data-no-tasks='1'] {
		.ListWrapper {
			@include remove-scrollbar;
		}
	}
}
