@import '../../../sass/';

.FormWrapper {
	.CloseForm {
		@include flex-center-center;
		margin-right: 10px;
		transition: 0.15s;
		svg {
			font-size: 30px;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.04);
		}
	}
}

.FormTrigger,
.FormWrapper {
	@include flex-center;
	@include no-select;

	padding: 10px 0;
	transition: 0.15s;
	width: 100%;
}

.FormTrigger {
	padding: 0 25px;
	svg,
	p {
		font-size: 20px;
		opacity: 0.5;
	}

	&[data-size='large'] {
		svg {
			font-size: 45px;
		}
	}
	svg {
		color: $primary-black;
		margin-right: 5px;
	}

	p {
		margin: 0;
		color: $primary-black;
	}

	&:hover {
		cursor: pointer;
		transform: scale(1.04);
	}
}

.CreateProjectFormWrapper {
	padding: 0 25px;
}

.PreviewWrapper {
	@include flex-center-center;
	flex-direction: column;
	margin-bottom: 20px;
	h2 {
		color: $pallet-color-two;
		font-size: 16px;
		margin-bottom: 13px;
	}
}

.ButtonWrapper {
	@include flex-center;
}
