@import '../../../../../sass/';

.ProjectLinkItem {
	@include flex-center;
	@include hover-bg;

	padding: 2px 15px;
	margin-bottom: 2px;
	background-color: transparent;
	position: relative;

	&:first-of-type {
		margin-top: 3px;
	}

	.BellWrapper {
		@include flex-center-center;

		width: 20px;
	}

	p {
		@include ellipsis-overflow;
	}

	&[data-is-complete='1'] {
		text-decoration: line-through;
		opacity: 0.5;
	}

	svg {
		font-size: 14px;
		margin-right: 7px;
	}
}

.Flash {
	// transform: scale(1.008) !important;
	// background-color: rgba(207, 63, 207, 0.14);
	// box-shadow: 0 0 0 3px rgba(104, 172, 235, 0.65);
	@include attention-flash;
}
