@import '../../../../sass/';

.ExpandLink,
.RootLink {
	@include no-select;
	@include hover-cursor;
	font-size: 25px;
	margin-bottom: 8px !important;

	p {
		padding: 5px 0px;
		margin: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.RootLink {
	font-weight: 600;
}

.ExpandLink {
	position: relative;
	z-index: 500;
	padding: 0 10px;

	.ExpandLinkTag {
		@include flex-center-center;
	}

	.TaskWrapper {
		position: relative;
		z-index: 500;
	}

	.Title {
		@include hover-bg;
		@include flex-center;

		border-radius: $small-radius;
		padding: 2px 10px 2px 15px;
		width: 100%;

		.BellCountContainer {
			@include flex-center-center;
			@include light-hover;

			margin-left: auto;
			padding: 0 5px;
			border-radius: 25px;
			position: relative;

			span {
				height: 20px;
				@include flex-center-center;
			}
			.BellCount,
			svg {
				color: $pallet-color-two !important;
			}

			svg {
				position: absolute;
				font-size: 10px;
				top: -3px;
				right: -3px;
			}

			.BellCount {
				font-size: 13px;
				margin-left: 2px;
				transform: translateX(-1px);
			}
		}
	}

	.ExpandLinkChildren {
		transition: 0.15s;

		transition-timing-function: ease-in-out;
		overflow-y: hidden;

		z-index: 999;
		position: inherit;

		p {
			padding: 0;
			margin-bottom: 2px;
			font-size: 16px;
		}
	}

	&[data-active='1'] {
		.Title {
			background-color: $pale-grey;
			color: $primary-black;
		}
	}
}
