@mixin light-gradient {
	background: rgb(175, 174, 204);
	background: linear-gradient(120deg, rgba(175, 174, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

@mixin brand-gradient-h {
	background: linear-gradient(90deg, #558bcb 0%, #c761eb 100%);
}

@mixin vertical-gradient {
	background: linear-gradient(180deg, #c4c4c4 0%, rgba(104, 172, 235, 0.99) 0.01%, rgba(214, 141, 239, 0.3) 100%);
}
