@import '../variables/';

@mixin light-hover {
	background-color: rgb(248, 248, 248);
	box-shadow: $hover-inset;
}
@mixin light-hover-two {
	background-color: rgba(244, 244, 244, 0.76);
	box-shadow: inset 1px 1px 6px rgba(192, 192, 192, 0.5);
}

@mixin attention-flash {
	box-shadow: inset 1px 1px 8px rgba(192, 192, 192, 0.9) !important;
	background-color: $pallet-color-two-hover !important;
}

@mixin hover-shadow {
	box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.08) !important;
}

@mixin focus-hover {
	box-shadow: inset 1px 1px 8px rgba(192, 192, 192, 0.4) !important;
	background-color: $pallet-color-two-pale !important;
}

@mixin hover-outline {
	box-shadow: 0 0 0 1px $pallet-color-two-hover;
}

@mixin card-image-radius {
	border-top-left-radius: $large-radius !important;
	border-top-right-radius: $large-radius !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

@mixin no-select {
	-webkit-touch-callout: none !important; /* iOS Safari */
	-webkit-user-select: none !important; /* Safari */
	-khtml-user-select: none !important; /* Konqueror HTML */
	-moz-user-select: none !important; /* Old versions of Firefox */
	-ms-user-select: none !important; /* Internet Explorer/Edge */
	user-select: none !important; /* Non-prefixed version, currently
										supported by Chrome, Edge, Opera and Firefox */
}

@mixin remove-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin full-size {
	width: 100%;
	height: 100%;
}

@mixin ellipsis-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hover-cursor {
	&:hover {
		cursor: pointer;
	}
}

@mixin hover-bg {
	border-radius: $small-radius;
	&,
	p,
	h1,
	h2,
	h3,
	svg {
		transition: 0.18s;
	}

	&:hover {
		&,
		p,
		h1,
		h2,
		h3,
		svg {
			color: $primary-grey;
		}
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.15);
	}
}
