@import '../../../sass/';

.MainWrapper {
	@include vertical-gradient;
	@include no-select;
	@include hover-cursor;

	height: 100vh;
	position: relative;

	p,
	a,
	svg {
		color: white;
	}

	.MenuWrapper {
		@include flex-col-start;

		height: 100vh;
		position: relative;
		padding: 30px 0 0 0;

		.MenuTop {
			height: 5vh;
			padding: 0 25px;
		}

		.ProjectLinks {
			@include remove-scrollbar;

			height: 90vh;
			width: 100%;
			padding: 20px 0;
			overflow-y: scroll;

			.FormWrapper {
				width: 100%;
				padding: 0px 25px !important;
			}
		}
	}
}

.RootLink {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 8px !important;

	p {
		padding: 5px 0px;
		margin: 0;
	}
}
