@import '../../sass';

.ViewWrapper {
	@include no-select;
	height: 100vh;
	overflow-y: scroll;
	padding: 0 30px 0 5px;
	.HeaderWrapper {
		margin-bottom: 20px;
		padding: 20px 0 0 0;

		.TitleWrapper {
			@include flex-center;
			margin-bottom: 10px;
			h1 {
				margin: 0;
				color: $primary-black;
			}
		}

		.BubbleBlock {
			display: flex;
		}
		.Archive {
			@include flex-center;

			color: $primary-black;

			p {
				margin: 0;
				margin-right: 10px;
			}
		}
	}
}
