@import '../../sass';

.ViewWrapper {
	// @include remove-scrollbar;
	height: 100vh;
	overflow-y: scroll;
}

.Archive {
	@include flex-center;

	color: $primary-black;

	p {
		margin: 0;
		margin-right: 10px;
	}
}
